* {
    margin: 0;
    padding: 0;
}
img{
    max-width:100%;
}
.container{
    width:100%;
    font-family: Microsoft YaHei, serif;
    color:white;
    max-width: 640px;
}
.header{
    background-color: #68cdd5 ;
    position: relative ;
    padding:5% 0;
}
.header p{
    position:absolute;
    top:34%;
    left:5%;
    font-size: 1.2rem;
}
.header p~p{
    top:20%;
    left:44%;
    font-size: 1.7rem;
}
.header p~p~p{
    top:34%;
    left:85%;
    font-size: 1.2rem;
}
.content{
    width:100%;
    position:relative;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 30% 0;
}
.box-one{
    width:100%;
    padding: 1% 0;
    position:absolute;
    top:4%;
    background-color: #fafdff;
}
.box-one input#number{
    margin:2% 22%;
    text-indent: 2rem;
    border:none;
    border-left:0.1em solid rgba(0, 0, 0, 0.06);
    color:rgba(0,0,0,0.06);
    height:2.2rem;
    font-size: 1.2rem;
}
.box-one img{
    max-width: 4%;
    position:absolute;
    top:28%;
    left:7%;
}
.box-two{
    width:100%;
    padding: 1% 0;
    position:absolute;
    top:31%;
    background-color:#fafdff  ;
}
.box-two input#password{
    margin:2% 22%;
    text-indent: 2rem;
    border:none;
    border-left:0.1em solid rgba(0, 0, 0, 0.06);
    color:rgba(0,0,0,0.06);
    height:2.2rem;
    font-size: 1.2rem;
}
.box-two img {
    max-width: 4%;
    position: absolute;
    top: 25%;
    left: 7%;
}
button{
    width:100%;
    position:absolute;
    top:76%;
    padding:3% 40%;
    text-align: center;
    background-color: #68cdd5 ;
}
button p{
    font-size: 1.5rem;
    color:white;
    letter-spacing:0.3rem;
}
.foot{
    width:100%;
    padding-bottom: 60%;
    font-size: 1rem;
    text-align: right ;
    color: #68cdd5 ;
    background-color: rgba(169, 168, 180, 0.15);
}

