@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; background-image: url(images/L.jpg);background-repeat: repeat;}
*{ margin:0; padding:0;}
a{ text-decoration:none;}
a:hover{ color: #ffffff; text-decoration:none; cursor:pointer;}
img{ max-width:100%; border:0;float:left;}
.wrap{
    max-width: 1024px;
    width:100%;
    margin:5px;
    color: #ff8820;
}
.header{
    width:100%;
    margin-bottom:50px;
}
.text{
    font-size: 1.5rem;
    color: rgba(255, 156, 61, 0.91);
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align:center;
}
.header img{
    padding:0 5px 0 20px;
}
.header h1{
padding:40px;
    color: #e0fa27
}
.nav {
    background-color:rgb(217, 225, 228) ;
    border-radius: 8px;
    margin: 20px  ;
    border: 1px solid lightgrey ;
    line-height: 1em;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3rem;
    box-shadow: 0 1px 1px white, 0 1px 0 white inset;
}
.nav.first li{
    letter-spacing: 12px;
    height:25px;
    color:white;
}
.nav :before,.header .Nav :after {
    content: "";
    display: table;
}
.nav :after {
    clear: both;
}
.nav li {
    list-style-type: none;
    background-color: rgba(124, 255, 231, 0.82);
    float: left;
    margin:0 1px;
    padding:12px 25px;
    border-right: 1px solid #ebff15;
    -moz-box-shadow: 1px 0 0 #444;
    -webkit-box-shadow: 1px 0 0 #444;
    box-shadow: 1px 0 0 #444;
    position: relative;
    color:whitesmoke;
}
.nav li:hover > a {
    color: #fa2e0f;
}
*html .header .Nav li a:hover {
    color: #fa3e0e;
}
.nav ul {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
}
.nav li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.nav ul li {
    float: none;
    display: block;
    border: 0;
    padding:10px 0;
    _line-height: 0;
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    box-shadow: 0 1px 0 #ebff15, 0 2px 0 #ebff15 ;
}
.nav ul a {
    padding: 10px;
    width: 130px;
    _height: 10px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
.nav ul a:hover {
    color: #fa2a12;
    background-color: rgba(255, 250, 254, 0);
}
.container{
    width:100%
}
.sidebar{
    font-size: 1.6rem;
}
.sidebar .img{
    margin:10px 5px 10px 20px;
    opacity:1;
    filter:alpha(opacity=100);
}
.sidebar.img:hover{
    opacity:0;
    filter:alpha(opacity=0); /* 针对 IE8 以及更早的版本 */
}
.list-a h2{
    margin-left: -35px;
    outline-style: dashed;
    outline-color: #ff1736;
}
.list-b h3{
    margin-left: -35px;
    margin-top: 5px;
    padding-left: 10px;
    border: #71dbff solid thin;
    outline: rgba(171, 46, 255, 0.78) dotted thin;
}
.list-a{
    float:left;
    padding:10px 65px;
}
.list-b{
    width:438px;
     float:left;
    padding:0 65px;
}
.list-b fieldset{
    border-style: solid dotted dashed solid;
    border-radius: 10px;
    border-width:5px;
    border-color:lightcoral;
}
.list-b li{list-style-type: square ;}
.main{
    width:100%;
    position: relative ;
}
.box{
    margin-left: 20px;
    width:360px;
    text-align: center ;
}
.box fieldset{
    border-radius: 6px;
    border-color: #ebb01a;
    border-style:solid;
    border-width:6px;
}
.box table{
    margin-left:45px;
    padding:25px;
}
button{
    padding:6px 10px;
    margin-bottom:15px;
    margin-right:35px;
    margin-left:20px;
}
.block-a{
    position: absolute ;
   float:left;
    top:65%;
    left:40%;
}
.block-b{
    position:absolute;
    float:left;
    top:65%;
    left:67%;
}
.block_wz{display:inline-block ;}
.block-a .block_wz li{
    list-style-type: circle  ;
}
.footer{
    padding:50px 20px 400px 20px;
    text-align:center;
    letter-spacing: 4px;
    color: #ffabb2;
font-size: 2.8rem;
}
.footer-img img{
    padding:25px 40px;
}