*{
    padding:0;
    margin:0;
    border:none;
}
body{
    min-width: 320px;
    max-width: 640px;
}
img{
    max-width: 100%;
}
.header{
    width:100%;
    font-size: 1.5rem;
    background-color: #68cdd5 ;
}
.header img{
    width:3%;
    padding: 2% 0 2% 3%;
}
.header p{
    float:right;
    padding-right: 47%;
    padding-top: 4%;
}
.main{
    position: relative ;
    width:100%;
    padding:8% 0;
    background-image: url(images/background.png );
    background-size:cover ;
}
.main .img{
    padding:10% 0;
    margin-left:3%;
    max-width: 20%;
    border-radius: 50%;
    background:white url(images/picture.png )bottom center ;
    background-repeat:no-repeat;
}
.text span{
    position: absolute ;
    top:40%;
    left:27%;
}
.text span~span{
    position: absolute ;
    top:40%;
    left:35%;
}
.text img{
    position: absolute ;
    top:50%;
    left:27%;
}
.text span~span~span{
    position: absolute ;
    top:50%;
    left:31%;
}
.content{
   width:100%;
    margin-top: 4%;
    list-style-type: none;
}
.list{
    border-bottom: 1px solid rgba(161, 161, 161, 0.18);
}
.border{
    border-bottom: 1px solid rgba(162, 162, 162, 0.19);
}
.list-a{
    margin-left: 2%;
    font-size: 1rem;
    padding-bottom: 4%;
}
.list-a p{
    padding-left: 3%;
    border-left: 3px solid deepskyblue ;
}
.list-b{
    position: relative ;
    font-size: 1rem;
    margin-left:5%;
    border-bottom: 1px solid rgba(162, 162, 162, 0.18);
}
.list-b img{
    max-width: 3%;
    padding:0 2%;
}
.list-b li{
    padding:4% 0;
}
.list-b span{
    letter-spacing: 0.2em;
    padding-right: 2%;
    color:darkgrey;
    border-right: 1px solid rgba(105, 105, 105, 0.18);
}
.list-b span~span{
    border:none;
    color:black;
    padding-left: 2%;
    letter-spacing: 0;
}
.span-a{
     float:left;
    margin-right: 2%;
    color:darkgrey;
}
.span-b{
    border-right:none;
    color:black;
    letter-spacing: 0;
    font-size: 0.6rem;
}
.footer{
    font-size: 2.5rem;
    margin: 10% 0;
    text-align: center ;
}
button{
    padding:2% 7%;
}
#message{
    padding: 2% 8%;
    background-color:white ;
    border:1px solid darkturquoise;
    border-radius: 4px;
}
#tel{
    padding:2% 7%;
    background-color:darkturquoise ;
    border:1px solid darkturquoise;
    border-radius: 4px;
    margin-right: 46%;
    margin-left:5%;
}